* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.left {
    border: blue 1px solid;
    width: 50%;
    height: 100%;
    padding: 20px;
    margin: 20px;
}

.left h2 {
    color: blue;
    text-align: center;
    margin: 0;
}

.right {
    border: red 1px solid;
    width: 50%;
    padding: 20px;
    margin: 20px;
}

.right h2 {
    color: red;
    text-align: center;
    margin: 0;
}
